*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 5%;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    padding: 5px 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}


.hero{
    
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-left p{
    font-size: 60px;
    font-weight: 900;
}
.hero-hand-icon{
    display: flex;
    
    align-items: center;
}
.hero-hand-icon img{
    width: 70px;
}

.hero-right img{
    width: 400px;
}
.items{
    width: 300px;
    margin-top: 20px;
}
.items img{
    width: 250px;
}
.items p{
    margin: 6px 0;
}

.item-price{
    display: flex;
    gap: 20px;
}.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
     font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.items:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.allProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.allProducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.allProducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.allProducts .all-products{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    font-size: 40px;
    font-weight: 700;
}
.footer ul{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.copy-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
}
.copy-right hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
.shop-category .banner{
    display: block;
    margin: 30px auto;
    width: 100%;
}
.shop-category .shop-category-indexsort{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-category .shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shop-category .shop-category-indexsort span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.subCategory select{
    width: 300px;
    height: 30px;

}
.loginSignup{
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 50px;
}
.loginSignup-container{
    width: 380px;
    height: 450px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
}
.loginSignup-container h1{
    margin:  0;
}
.loginSignup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}
.loginSignup-fields input{
    height: 30px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginSignup-container button{
    width: 100%;
    height: 30px;
    color: white;
    background: #ff4141;
    margin-top: 50px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login span{
    color: #ff4141;
    cursor: pointer;
    
}
.loginsignup-login{
    margin-top: 20px;
}
.loginsign-agree{
    display: flex;
    font-size: x-small;
    margin-top: 30px;
    gap: 10px;
    align-items: center;
}
.productDisplay{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.productDisplay-left{
    display: flex;
    gap: 17px;
}
.produtdisplay-img-list{
display: flex;
flex-direction: column;
gap: 16px;
}
.produtdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-img{
    width: 550px;
    height: 700px;
}
.productDisplay-right{
    display: flex;
    flex-direction: column;
}
.productDisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}
.productdispaly-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin-top: 40px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-priceold{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-pricenew{
    color: #ff4141;

}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-avail-right-size{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}
/* .productdisplay-right-size div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
} */
.productdisplay-right-description{
    margin-top: 30px;
    font-size: smaller;
    color: #1c1c1c;
}
.productDisplay-right .addTo{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    color: white;
    background: #ff4141;
    outline: none;
    margin-bottom: 20px;
    border: none;
}
.display-right-category .cat{
    font-weight: 700;
}
.productdisplay-right-avail-color{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.cartItems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartItems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr  1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
}
.cartitems-format{
    font-size: 15px;
}

.carticon-product-icon{
    height: 62px;
}
.carditemremove{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitem-down{
    display: flex;
    margin-top: 50px;

}
.cartitrm-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cartitem-total-main{
    display: flex;
    justify-content: space-between;
    
}
.cartitems-total-items{
     display: flex;
    justify-content: space-between;
}
.cartitemdown-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cartitemdown-container button{
    background:#ff4141;
    padding: 10px 0;
    color: white;
    outline: none;
    border: none;
}
.order{
    display: flex;
    margin: 30px 0;
    gap: 50px;
}
.billing-area {
    width: 70%;
}
.billing-ul li{
   margin: 15px 0;
}
.billing-li input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
}
.billing-details{
    
    margin-top: 50px;
}
.shipping-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.shipping-form .check-box, .shipping-form .comment-area{
    display: flex;
    align-items: center;
    gap: 10px;
}
.order-area{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.order-area .order-history{
     display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-details{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pay-icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkout-btn{
    margin: 0 auto;
    width: 100%;
    height: 30px;
    color: white;
    background: #ff4141;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-btn a{
    color: white;
}

.productdisplay-avail-right-size button.active,
.productdisplay-right-avail-color button.active {
  border: 2px solid #000;
  background: #000;
  color: #fff;
}





